.searchContainer {
  margin-bottom: 2rem;
}

.searchBar {
  width: 100%;
  padding: 12px 15px 12px 45px;
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  border-radius: 4px;
  height: 2rem;
}

.searchBar:focus {
  border-color: #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searchIcon {
  position: absolute;
  left: 15px;
  color: #888;
  z-index: 5;
}

.filterIcon {
  color: #888;
}

select {
  width: auto;
  border-radius: 4px;
  height: 2rem;
  border: 1px solid #d8d8d8;
  cursor: pointer;
  color: #626262;
  padding: 0 10px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  gap: 0.4rem;
  cursor: pointer;
}

.searchBox {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 450px;
  margin: 0 auto 20px;
}

.filters span {
  font-size: 16px;
  color: #626262;
}
