nav {
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border: 0.5px solid #33333317;
  border-radius: 4px;
  margin-bottom: 4rem;
}
nav div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

