.info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info span {
  color: rgb(96, 96, 96);
}

.info h1 {
  color: pink;
}

.card-container {
  height: 150px;
  
}

.card-container .card-img {
  height: 150px;
  align-items: center;
  width: auto;
}